<%- include('partials/header') %>

<%- include('partials/navbar') %>

<div id="home">

  <div class="container">

    <div class="row aboutBox">
      <h3 style="margin-bottom: 20px;">About</h3>
      <p>This is a wannabe social media exercise application that implements session cookies, passport and OAuth authentication protocols.</p>
      <p>A user can register and log in to their account, create blog posts, view other users posts and comment on them.</p>
      <h3 style="margin-bottom: 20px;">Future Implementations</h3>
      <h5>Lounge</h5>
      <ul style="list-style-type:none">
        <li>Sort public posts by date, likes and comments</li>
        <li>View other users profiles</li>
        <li>Upvote or downvote other peoples posts</li>
        <li>Reply to other peoples comments</li>
      </ul>

      <h5>Profile</h5>
      <ul style="list-style-type:none">
        <li>Edit username</li>
        <li>Edit post visibility and content</li>
        <li>Get notifications upon like and comment</li>
        <li>Add personal data and image in profile</li>
        <li>Follow other users posts</li>
      </ul>

      <h5>General</h5>
      <ul style="list-style-type:none">
        <li>Twitter authentication will be enabled</li>
      </ul>

    </div>

  </div>

</div>

<%- include('partials/footer') %>
