<%- include('partials/header') %>

<%- include('partials/navbar') %>

<div id="home">

  <div class="container">

    <div class="row aboutBox">
      <h3 class="text-center" style="margin-bottom: 20px;">About</h3>
      <p>This is a wannabe social media exercise application that implements session cookies, passport and OAuth authentication protocols.</p>
      <p>A user can register and log in to their account, create blog posts, view other users posts and comment on them.</p>
      <p><span style="color:red">Github link: </span>You can see the source code through <a href="https://github.com/calmeart/loungelite" target="_blank">this link</a>.</p>
    </div>

    <div class="aboutDoc text-center">
      <h3 class="text-center" style="margin-bottom: 20px;">How to Use</h3>
      <img class="aboutImage mb-3" src="/images/login.png" alt="register screen">
      <p class="mb-3">This is the page that you have just seen. Unfortunately, while the social authentication buttons work as intented, they only allow test accounts to validate while the application is in development state. But you can very easily create an account.</p>
      <img class="aboutImage mb-3" src="/images/register.png" alt="register screen">
      <p class="mb-5">This is as easy as it gets. Creating an account is so simple it practically doesn't exist. It only needs an username and password. Don't forget your password tough, there is no method to retrieve it.</p>
      <p class="mb-3">When an account is created, you will be redirected to your page. From this page you can create posts and you can create stacks.</p>
      <img class="aboutImage mb-3" src="/images/user-profile.png" alt="register screen">
      <p>Creating a post: Apart from title and body, the two properties that available are post visibility and stacks. Visibility can be public or private. And stacks is just the category that your post will be visible under.</p>
      <p class="mb-5">Creating a stack: All the posts are under General stack by default. You can add stacks by pressing the + button next to stacks.</p>
      <img class="aboutImage mb-3" src="/images/lounge.png" alt="register screen">
      <p class="mb-5">By navigating to Lounge, you can view other people's posts that is public to general audience. You can comment to posts or visit other user's profile by clicking their name.</p>
      <img class="aboutImage mb-3" src="/images/comment.png" alt="register screen">
      <img class="aboutImage mb-3" src="/images/view-profile.png" alt="register screen">
      <p class="mb-5">In other user's profile, you can select their stacks to read post that they create in that stack.</p>
    </div>

    <div class="row aboutBox">
      <h3 class="text-center" style="margin-bottom: 20px;">Future Implementations</h3>
      <h5>Lounge</h5>
      <ul style="list-style-type:none">
        <li>Sort public posts by date, likes and comments</li>
        <li>Upvote or downvote other peoples posts</li>
        <li>Reply to other peoples comments</li>
      </ul>

      <h5>Profile</h5>
      <ul style="list-style-type:none">
        <li>Edit username</li>
        <li>Edit post visibility and content</li>
        <li>Get notifications upon like and comment</li>
        <li>Add personal data and image in profile</li>
        <li>Follow other users posts</li>
      </ul>

      <h5>General</h5>
      <ul style="list-style-type:none">
        <li>Twitter authentication will be enabled</li>
        <li>Username and password requirements will be added</li>
      </ul>

    </div>

  </div>

</div>

<%- include('partials/footer') %>
