:root {
  --main-color: #eeeded;
  --second-color: #9f5f80;
  --font-color: #5b5b5b;
  --attention-color: #dd9866;
  --highlight-color: #f16821;
}
f
/* bright-orange: #f16821 */

html,
body {
  min-height: 100%;
}

body {
  text-align: center;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--second-color);
  color: var(--font-color);
}

.navbar {
  background-color: var(--main-color);
}

#navbarNavAltMarkup {
  max-width: 992px;
  margin: auto;
  color: var(--second-color) !important;
  font-weight: bold;
}

/***********************HOME PAGE*******************************/

#home, #register {
  max-width: 992px;
  margin: auto;
  text-align: center;
}

#heading {
  margin: 10vh auto;
  color: var(--attention-color);
}


#home .row, .registerBox {
  background-color: var(--main-color);
  border: 1px solid gray;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px gray;
  padding: 20px 0;
  justify-content: space-around;
  margin-bottom: 100px;
}

#home .form-control, #register .form-control {
  line-height: 2;
  margin-bottom: 1rem;
}

#home .card {
  margin: 0;
  margin-bottom: 1rem;
}

#home .card-body {
  padding: 0;
}

.vl {
  height: 175px;
  max-height: 100%;
  width: 1px;
  background-color: gray;
  padding: 0;
}

.btn {
  color: white;
  padding: .5625rem 1.5rem;
  justify-content: space-between;
}

form .btn {
  background-color: var(--attention-color);
}

form .btn:hover {
  background-color: var(--highlight-color);
  color: white;
}

.btn-block {
  width: 100%;
}

.btn-block:hover {
  opacity: 0.7;
}

.social-google {
  background-color: #dd4b39 !important;
}

.social-facebook {
  background-color: #3B5998 !important;
}

.social-twitter {
  background-color: #55ACEE !important;
}

.registerBox {
  padding-left: 10%;
  padding-right: 10%;
}

.coloredLink:link {
  color: var(--attention-color);
}

.coloredLink:visited {
  color: var(--attention-color);
}

.coloredLink:hover {
  color: var(--highlight-color);
}

.aboutBox {
  margin: 50px auto;
  text-align: left;
  margin-bottom: 100px;
}

@media (max-device-width: 568px) {
  #home {
    margin: auto 5%;
  }

  #heading {
    margin: 20px auto;
    color: var(--attention-color);
  }
  .vl {
    height: 2px;
    width: 90%;
    background-color: gray;
    padding: 0;
    margin: 20px;
  }
}

/**********************PROFILE AND LOUNGE********************************/

#lounge, #profile {
  max-width: 992px;
  margin: auto;
  padding-bottom: 70px;
  color: var(--attention-color);
}

.card {
  margin: 20px;
  background-color: var(--main-color);
  color: var(--font-color);
}


.card-body {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.postBox {
  padding-bottom: 0;
}

.social-icons {
}

.social-icons p {
  display: inline-block;
}

.likeButton {
  background-color: inherit;
  border: none;
  outline: none;
}

.commentLink {
  text-decoration: none;
  color: var(--attention-color);
}
.commentContainer {
  border-top: 1px solid rgba(0,0,0,.125);
  text-align: left;
}

.commentCard {
  background-color: #deb79b;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 0;
}

button[name="submitComment"] {
  margin: 0 20px 20px;
}

input[name="newStack"] {
  border-radius: 0;

}

/**************************NEW POST CARD********************************/

.newPost {
  width: 100%;
  border: none;
}

.newPost:focus {
  border: none;
  box-shadow: inset 0 -2px 0 0 black;
  outline: 0;
}

textarea {
  resize: none;
  border-radius: 5px;
}

.buttons {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[name="publishPost"] {
  padding: .125rem .75rem;
}

a[name="createNewPost"] {
  background-color: var(--attention-color);
}

a[name="createNewPost"]:hover {
  background-color: var(--highlight-color);
  color: white;
}

/***********************FOOTER SECTION********************************/
#footer {
  background-color: var(--main-color);
}

footer {
  max-width:992px;
  margin: auto;
  padding: 20px;
  font-weight: bold;
}

/*************************************************************************/

.hiddenMessage {
  height:2rem;
  width: 100%;
}
